## Data Exploration
To interact with this notebook run `jupyter notebook viz_prod.ipynb` from command line.

In [6]:
import pandas as pd
import build_db
from core.data.socrata import soda_data, socrata_api_requests
from core.data import dbclient, daily_case_data_by_zip
from core.data.groundtruth import process_ground_truth_data

In [7]:
# connect to db and show all tables
db = dbclient.DBClient()
db.cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(db.cursor.fetchall())

[('VACCINATIONS',), ('DAILY_COVID_CASE_DATA',), ('DAILY_FOOT_TRAFFIC_DATA',), ('TRAFFIC_CRASH_DATA',), ('DEMOGRAPHICS',)]

### Daily Case Data

In [8]:
query = f"select * from {build_db.CASE_TBL}"
print(f"query = {query}")
covid_case_df = pd.read_sql_query(query, db.conn)
covid_case_df.describe(include='all')

query = select * from DAILY_COVID_CASE_DATA

,index,STD_DATE,ZIPCODE,confirmed_cases,confirmed_cases_change,total_tested,total_tested_change,AVG7DAY_confirmed_cases,AVG7DAY_total_tested
count,333098.000000,333098,332995,333098,333098,333098,333098,324332.000000,324332.000000
unique,NaN,323,1446,6895,195,39670,1776,NaN,NaN
top,NaN,2021-03-13 00:00:00,60133,6,0,147,0,NaN,NaN
freq,NaN,1430,323,9014,149887,346,28360,NaN,NaN
mean,166548.500000,NaN,NaN,NaN,NaN,NaN,NaN,478.640146,6376.932092
std,96157.254321,NaN,NaN,NaN,NaN,NaN,NaN,999.274745,18170.056928
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,10.428571
25%,83274.250000,NaN,NaN,NaN,NaN,NaN,NaN,26.000000,387.000000
50%,166548.500000,NaN,NaN,NaN,NaN,NaN,NaN,99.571429,1232.285714
75%,249822.750000,NaN,NaN,NaN,NaN,NaN,NaN,447.857143,5750.607143
max,333097.000000,NaN,NaN,NaN,NaN,NaN,NaN,16125.428571,859868.857143

### Vaccination Data

In [9]:
query = f"select * from {build_db.VACC_TBL}"
print(f"query = {query}")
vacc_df = pd.read_sql_query(query, db.conn)
vacc_df.describe(include='all')

query = select * from VACCINATIONS

,index,ZIPCODE,STD_DATE,total_doses_daily,total_doses_cumulative,vaccine_series_completed_daily,vaccine_series_completed_percent_population,population,AVG7DAY_total_doses_daily,AVG7DAY_vaccine_series_completed_daily
count,5000.000000,4919,5000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,4565.000000,4565.000000
unique,NaN,59,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,60615,2021-03-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,91,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2499.500000,NaN,NaN,143.768600,4530.254600,51.510400,0.033289,46211.641800,146.053294,52.594148
std,1443.520003,NaN,NaN,162.413316,5334.012868,72.468759,0.046259,26625.453119,134.711408,60.168219
min,0.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1249.750000,NaN,NaN,22.000000,516.000000,0.000000,0.000000,28569.000000,38.285714,3.714286
50%,2499.500000,NaN,NaN,89.500000,2275.000000,20.000000,0.014000,46591.000000,110.714286,30.000000
75%,3749.250000,NaN,NaN,214.250000,7000.750000,73.000000,0.049000,67711.000000,217.857143,80.142857
max,4999.000000,NaN,NaN,1548.000000,27370.000000,522.000000,0.321000,110029.000000,994.285714,298.857143

### Foot Traffic Data

In [10]:
query = f"select * from {build_db.FOOT_TRAFF_TBL}"
print(f"query = {query}")
foot_traffic_df = pd.read_sql_query(query, db.conn)
foot_traffic_df.describe(include='all')

query = select * from DAILY_FOOT_TRAFFIC_DATA

,index,STD_DATE,ZIPCODE,AIRPORTS_TRANSIT_CENTERS,BARS,BEAUTY_WELLNESS,FITNESS_CENTERS,GROCERY,MASS_MERCH,PARKS_BEACHES,...,RESTAURANT,RETAIL,SCHOOLS_LIBRARIES,SHOPPING_CENTERS_MALLS,TOURIST_ATTRACTIONS,AVG7DAY_BARS,AVG7DAY_GROCERY,AVG7DAY_RESTAURANT,AVG7DAY_PARKS_BEACHES,AVG7DAY_SCHOOLS_LIBRARIES
count,25724.000000,25724,25724,17004.000000,25288.000000,25724.000000,22236.000000,17004.000000,16132.000000,23108.000000,...,24852.000000,19620.000000,24852.000000,22236.000000,19620.000000,24940.000000,16770.000000,24510.000000,22790.000000,24510.000000
unique,NaN,436,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,2020-05-24 00:00:00,60601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,59,436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,12861.500000,NaN,NaN,50.086568,55.053622,64.913855,57.422513,83.968243,61.747149,78.690454,...,93.205054,60.165698,54.164172,64.963752,57.582518,54.730089,83.862348,92.768578,78.489826,53.680993
std,7426.023498,NaN,NaN,56.654978,38.023444,28.041231,51.594104,33.390125,36.472314,120.264241,...,274.585147,40.787870,43.181279,28.638627,50.361510,32.572987,30.068362,260.071679,95.741359,34.879655
min,0.000000,NaN,NaN,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,5.428571,0.000000
25%,6430.750000,NaN,NaN,21.000000,30.000000,47.000000,32.000000,62.000000,41.000000,41.000000,...,47.000000,31.000000,28.000000,46.000000,23.000000,32.428571,63.428571,48.714286,45.285714,30.714286
50%,12861.500000,NaN,NaN,33.000000,47.000000,63.000000,46.000000,80.000000,63.000000,64.000000,...,68.000000,57.000000,48.000000,63.000000,50.000000,47.857143,81.428571,69.000000,66.428571,48.428571
75%,19292.250000,NaN,NaN,64.000000,71.000000,81.000000,69.000000,102.000000,84.000000,95.000000,...,89.000000,83.000000,68.000000,81.000000,81.000000,71.428571,101.714286,89.857143,91.285714,67.428571
max,25723.000000,NaN,NaN,1500.000000,560.000000,243.000000,1424.000000,422.000000,355.000000,6653.000000,...,8000.000000,550.000000,1073.000000,354.000000,800.000000,488.857143,319.000000,5171.428571,3209.571429,802.571429

### Traffic Crash Data

In [11]:
query = f"select * from {build_db.CRASHES_TBL}"
print(f"query = {query}")
crashes_df = pd.read_sql_query(query, db.conn)
crashes_df.describe(include='all')

query = select * from TRAFFIC_CRASH_DATA

,index,STD_DATE,ZIPCODE,crash_count,AVG7DAY_crash_count
count,43049.000000,43049,42381,43049.000000,41979.000000
unique,NaN,796,70,NaN,NaN
top,NaN,2019-08-15 00:00:00,60639.0,NaN,NaN
freq,NaN,62,796,NaN,NaN
mean,21524.000000,NaN,NaN,5.260401,5.317969
std,12427.320206,NaN,NaN,3.597711,2.777847
min,0.000000,NaN,NaN,1.000000,1.000000
25%,10762.000000,NaN,NaN,2.000000,3.000000
50%,21524.000000,NaN,NaN,5.000000,5.000000
75%,32286.000000,NaN,NaN,7.000000,7.285714
max,43048.000000,NaN,NaN,29.000000,17.285714

### Demographics

In [12]:
query = f"select * from {build_db.CENSUS_TBL}"
print(f"query = {query}")
census_df = pd.read_sql_query(query, db.conn)
census_df.describe(include='all')

query = select * from DEMOGRAPHICS

,index,zcta,hhold_size,fam_size,unemploy_rate,median_income,pct_below_poverty_lvl,median_age,pct_65_or_older,pct_hispanic,...,pct_white,pct_pacific_islander,pct_american_indian,pct_other_race,pct_high_school_grad,pct_hholds_w_computer,pct_hholds_w_internet,pct_w_health_insur,state,ZIPCODE
count,58.000000,58,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,...,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.0,58
unique,NaN,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58
top,NaN,ZCTA5 60634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60629
freq,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
mean,28.500000,NaN,2.416724,3.222759,5.306897,69298.913793,13.234483,35.377586,12.405172,21.343103,...,38.406897,0.012069,0.200000,0.210345,20.458621,88.603448,79.363793,91.806897,17.0,NaN
std,16.886879,NaN,0.545085,0.527662,3.301986,35812.102415,9.850827,3.657678,4.305705,21.570831,...,27.443210,0.032861,0.861659,0.213319,11.979237,7.252391,9.459622,4.489983,0.0,NaN
min,0.000000,NaN,1.490000,2.140000,0.200000,22158.000000,0.000000,30.200000,0.500000,1.300000,...,1.000000,0.000000,0.000000,0.000000,0.000000,69.500000,56.600000,79.800000,17.0,NaN
25%,14.250000,NaN,1.965000,2.872500,2.650000,41563.500000,5.000000,32.300000,9.900000,5.725000,...,7.900000,0.000000,0.000000,0.100000,8.425000,83.450000,73.750000,88.175000,17.0,NaN
50%,28.500000,NaN,2.500000,3.355000,4.200000,62631.500000,10.350000,34.500000,11.850000,11.500000,...,44.650000,0.000000,0.100000,0.100000,21.700000,90.100000,79.450000,91.700000,17.0,NaN
75%,42.750000,NaN,2.787500,3.607500,7.425000,94877.000000,19.200000,37.950000,15.350000,38.100000,...,62.075000,0.000000,0.100000,0.300000,30.150000,93.850000,87.400000,95.675000,17.0,NaN
max,57.000000,NaN,3.580000,4.140000,13.600000,191528.000000,38.700000,43.600000,21.500000,83.000000,...,81.800000,0.100000,6.600000,1.000000,40.600000,100.000000,95.300000,99.500000,17.0,NaN